
<%= render partial:"shared/navbar" %>
<div class="container-fluid hero">  
<%= render partial:"shared/navbar" %>
</div>

<div class="inner cover">
    <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
</div> 
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>
    <h1>HELLO</h1>
    <%= link_to "New User", new_user_path %> |
    <%= link_to "Users", controller: "users" %>
</p>

<h1 class="title">jQuery Test</h1>
<div id="main-div">
    </br>
    <h1>This is an h1</h1>
    <h1>Another H1</h1>
    <h2>h2 class</h2>
    <h3>h3 One</h3>
    <h3>h3 Two</h3>
    <h3>h3 Three</h3>
    <input type="button" id="button1" value="Randomize Headings"/>
    <input type="button" id="button2" value="Revert Headings"/>
</div>
