<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
    <h1 class="title">jQuery Test</h1>
    <div id="main-div">
        </br>
        <h1>This is an h1</h1>
        <h1>Another H1</h1>
        <h2>h2 class</h2>
        <h3>h3 One</h3>
        <h3>h3 Two</h3>
        <h3>h3 Three</h3>
        <input type="button" id="button1" value="Randomize Headings"/>
        <input type="button" id="button2" value="Revert Headings"/>
    </div>
</div>