<div class="score-container">
    <div class="row align-items-center">
        <div class="col">
            <h1>Score</h1>
            <div class="final-score">
                <%= @user.stat.score %>    
            </div>
            <div class="result">Awesome!</div>        
        </div>
    </div>
</div>